*{
  font-family: 'VT323', monospace;
}
.menu {
    #menulogo{
        object-fit: cover;
        margin-bottom: -400px;
        position: center;
        transform: scale(0.5);
        margin-left: -30px;

    }
    gap:20px;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../assets/menu/menubackgroundblured.png);
    background-size:cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding-bottom: 1200px;
}
.menu.ingame, #htp.ingame, #controls.ingame{
    background-image: none;
    background-color: rgba(0, 0, 0, 0.466);

}

@media screen and (max-width: 1920px){
    #Mainmenu{
        transform: scale(1.35);
        position: fixed;
        
    }
    #controls{
        position: fixed;
        h2{
            font-size: 2.5em;
        }
        #keyboardfunc{
            transform: scale(2);
            margin: 100px;
            
        }
        #contbackbutton{
            transform: scale(1.25);
            margin: 20px;
        }
        #contbackbutton:hover{
            transform: scale(1.3);
            transition: transform 0.2s ease-in;
        }
    }
    #htp{
        position: fixed;
        h2{
            font-size: 2.5em;

        }
        p{
            text-align:center;
            max-width: 100ch;
            margin: 50px;
            font-size: 2em;
        }
        #htpbackbutton{
            transform: scale(1.25);
            margin: 20px;
        }
        #htpbackbutton:hover{
            transform: scale(1.3);
            transition: transform 0.2s ease-in;
        }
    }
    
}
.menu::before{ 
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.35); 
  z-index: -1;
}
@media screen and (max-width: 1280px){
    #Mainmenu{
        transform: scale(1.35);
        gap: 15px;
        position: fixed;

    }
    #credit{
        font-size: 1em;
        text-align: center;
    }
    #htp{
        position: fixed;
        p{
            text-align:center;
            max-width: 100ch;
            margin: 50px;
            font-size: 1.5em;
        }
        h2{
            font-size: 2.25em;
        }
        #htpbackbutton{
            transform: scale(1.15);
            margin: 20px;
        }
        #htpbackbutton:hover{
            transform: scale(1.2);
            transition: transform 0.2s ease-in;
        }
    }
    #controls{
        position: fixed;
        #keyboardfunc{
            transform: scale(1.75);
            margin: 100px;
            
        }
        #contbackbutton{
            transform: scale(1.15);
            margin: 20px;
        }
        #contbackbutton:hover{
            transform: scale(1.2);
            transition: transform 0.2s ease-in;
        }
    }

}

.menu.hidden {
  display: none;
}

#startbutton, #continuebutton, #htpbutton, #contbutton, #htpbackbutton, #contbackbutton{
    margin: 15px;
    padding: 10px 20px 5px 20px;
    font-size: 1.2em;
    border-radius: 10;
    background-color: rgb(240, 176, 0);
    border: 3px solid rgb(240, 176, 0);
    font-weight: bold;
    box-shadow: 0px 5px rgb(221, 151, 0), 0px -5px rgb(202, 138, 1), 5px 0px rgb(230, 157, 0), -5px 0px rgb(214, 164, 0), 0px 10px rgb(212, 156, 0), 5px 5px rgb(212, 156, 0), -5px 5px rgb(212, 145, 0), inset 0px 5px rgb(255, 217, 0);
    color:rgb(70, 42, 11);
    cursor: pointer;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 10;
    text-transform: capitalize;

}
#startbutton:hover, #continuebutton:hover, #htpbutton:hover, #contbutton:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in;
    
}

